<p>
  <%= comment.body %>
  by: <%= comment.commenter %><br>
   <%= link_to 'Delete', [comment.article, comment],
               method: :delete,
               data: {confirm: 'Are you sure?'} %>
</p>