// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span {
  color: darkmagenta;
  font-style: italic;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin:0 0 10px 0;   
}

hr {
  border: 0;
  width: 100%;               
  background-color: lightslategrey;
  height: 1px;
}